.MainContent h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.MainContent ul li {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
}

.MainContent p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.packageDetail-and-card-carDetail-container {
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
}

/* About Package */
.MainContent {
  width: 100%;
  /* border: 1px solid; */
}

.aboutPackage {
  margin-right: 265px;
  /* border: 1px solid; */
}

/* Card Car Detail */
.card-carDetail-container {
  border: 1px solid rgb(246, 238, 238);
  width: 333px;
  height: 530px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  margin-bottom: 77px;
  /* border: 1px solid; */
}

.GambarDetail {
  height: 187px;
}

.GambarDetail img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* border: 1px solid; */
}

.carContent .name-carDetail {
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  margin-top: 20px;
  /* border: 1px solid; */
}

.carContent .userIcon-carDetail {
  padding-left: 20px;
  width: 32px;
  /* border: 1px solid; */
}

.carContent .category-carDetail {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  bottom: 19px;
  left: 40px;
  /* border: 1px solid; */
}

.date-picker {
  padding-left: 20px;
  padding-right: 40px;
  position: relative;
}

.date-picker h6 {
  font-size: 10px;
  font-weight: 300;
}

.date-picker .date {
  width: 100%;
  border: 1px solid #5cb85f;
  border-radius: 2px;
  cursor: pointer;
}

.date-picker input.date {
  font-size: 12px !important;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icon-calendar-cardDetail {
  position: absolute;
  bottom: 4px;
  left: 260px;
  padding-top: 0 !important;
}

.icon-calendar-cardDetail img {
  width: 15px;
  padding-bottom: 3px;
}

.react-datepicker__close-icon {
  padding-right: 100px !important;
}

.totalPrice-container-carDetail {
  display: flex;
  justify-content: space-between;
  /* padding-right: 20px; */
  padding-bottom: 30px;
  padding-top: 50px;
  /* border: 1px solid; */
}

.totalPrice-container-carDetail h1 {
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid; */
}

.totalPrice-container-carDetail .totalPrice-carDetail {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.totalPrice-container-carDetail .totalPriceNumber-carDetail {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: end;
}

.btn-payment-cardDetail-off {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.btn-payment-cardDetail-on {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.btn-payment-cardDetail-off button {
  width: 100%;
  padding: 7px 0 7px 0;
  background-color: #35b0a733;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  pointer-events: none;
}

.disabledLink {
  pointer-events: none;
}

.btn-payment-cardDetail-on button {
  width: 100%;
  padding: 7px 0 7px 0;
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

/* Responsive under 375px */
@media screen and (max-width: 374px) {
  .icon-calendar-cardDetail {
    position: absolute;
    bottom: 4px;
    left: 245px;
    padding-top: 0 !important;
  }

  .icon-calendar-cardDetail img {
    width: 15px;
    padding-bottom: 3px;
  }

  .react-datepicker__close-icon {
    padding-right: 85px !important;
  }
}
