.JudulAccordion {
	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.FAQContainer {
	margin-top: 100px;
}

/* // Large devices (desktops, 992px and up) */

/* // 13 inch laptops */
@media (min-width: 768px) {
	.BoxAccordion {
		width: 350px;
	}
}
@media (min-width: 992px) {
	.BoxAccordion {
		width: 450px;
	}
}

@media (min-width: 1200px) {
	.BoxAccordion {
		width: 550px;
	}
}

@media (min-width: 1400px) {
	.BoxAccordion {
		width: 650px;
	}
}
