.JudulAccordion {
	font-family: "Arial";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.FAQContainer {
	margin-top: 100px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.BoxAccordion {
		width: 650px;
	}
}
